<section class="p-4 flex border-b flex-col md:flex-row gap-2 overflow-x-auto">
  <app-card
    [title]="'Jonathan Golimlim'"
    [description]="'@jobearry'"
    class="">
    <ng-container slot="content">
    </ng-container>
    <ng-container slot="footer">
      <span [class]="portfolioCardFooterStyle">
        A full-stack developer who focuses on developing web applications through Angular and .NET
      </span>
    </ng-container>
  </app-card>
</section>
<section class="p-4 ">
  <app-card
    [title]="'Experiences'"
    [description]="'Career journey and work history'"
    class="">
    <ng-container slot="content">
      @if(_expService.getState().loading){
        <div class="w-92">
          <app-skeleton-item></app-skeleton-item>
        </div>
      }@else {
        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-2">
          @for (item of _expService.getState().content; track item.experienceId ) {
            <button
              (click)="openDialog(item)"
              [class]="`text-start bg-muted/50 p-3.5 rounded-sm ${transitionMoveUp}
              flex items-center gap-3 w-full`">
              <span hlmH3>{{item.experienceId < 10? `0${item.experienceId}` : item.experienceId}}</span>
              <div class="flex-1">
                <h3>{{item.companyName}}</h3>
                <p class="text-zinc-500">{{item.description}}</p>
              </div>
              <ng-icon hlm name="lucideInfo" size="sm" class="font-bold" />
            </button>
          }
        </div>
      }
    </ng-container>
  </app-card>
</section>
<section class="p-4">
  <app-card
    [title]="'Skills'"
    [description]="'Technical stack and tools'"
    class="">
    <ng-container slot="content">
      @if(_skillsService.getState().loading){
        <div class="w-92">
          <app-skeleton-item></app-skeleton-item>
        </div>
      }@else {
        <div [class]="`grid md:grid-cols-2 lg:grid-cols-3 gap-2`">
          @for (stack of _skillsService.getState().content; track stack.stackId) {
            @if(stack.techStackSpecs.length > 0){
              <div [class]="`p-1 rounded-sm flex flex-col gap-1 bg-muted/50 ${transitionMoveUp}`">
                <span class="px-3 py-1 font-bold text-md">{{stack.stackName}}</span>
                <button class="flex flex-wrap gap-2 px-5 pb-2">
                  @for (spec of stack.techStackSpecs; track spec.specId) {
                    <p class="py-1 bg-zinc-800 text-xs rounded-full border px-3">{{spec.toolName}}</p>
                  }
                </button>
              </div>
            }
          }
        </div>
      }
    </ng-container>
  </app-card>
</section>
